<!-- Menu Start -->
<div id="menu" class="container-fluid menu-section py-5">
  <div class="container">
    <div class="section-title text-center">
      <h4 class="menu-title">Nuestro Menú</h4>
    </div>

    <div class="menu-categorias">
      <ng-container *ngFor="let categoria of menuCategorias; let i = index">
        <div class="mb-4 menu-categoria">
          <h1 class="mb-3 text-center text-lg-start menu-categoria-titulo">{{ categoria.nombre }}</h1>
          <div class="row">
            <ng-container *ngIf="splitProductos(categoria.productos) as columnas">
              <ng-container *ngFor="let columna of columnas; let colIdx = index">
                <div [class]="getColClass(categoria.productos) + ' menu-col'">
                  <ng-container *ngFor="let producto of columna">
                    <div class="row align-items-center mb-3">
                      <div class="col-3 col-sm-3 text-center">
                        <div class="menu-img-wrapper">
                          <h5 [ngClass]="{
                            'menu-price-img-custom': producto.img,
                            'menu-price-custom': !producto.img,
                            'menu-price-small': splitProductos(categoria.productos).length > 1
                          }">{{ producto.precio }}</h5>
                          <ng-container *ngIf="producto.img; else defaultIcon">
                            <img class="rounded-circle"
                              [ngClass]="{
                                'menu-img': splitProductos(categoria.productos).length === 1,
                                'menu-img-small': splitProductos(categoria.productos).length > 1
                              }"
                              [src]="producto.img" alt="">
                          </ng-container>
                          <ng-template #defaultIcon>
                            <i class="fas fa-mug-hot fa-2x text-gray-400"></i>
                          </ng-template>
                        </div>
                      </div>
                      <div class="col-9">
                        <h4 class="menu-prod-titulo">{{ producto.prod }}</h4>
                        <p class="m-0 menu-prod-desc">{{ producto.descProd }}</p>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>

  </div>
</div>
<!-- Menu End -->
