/* Posiciona el precio encima de la imagen */
.menu-img-wrapper {
  position: relative;
  display: inline-block;
}

.menu-price-custom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgba(0,0,0,0.6);
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 1.2rem;
  z-index: 2;
  pointer-events: none;
}

/* New class for image case: inherit centered styles but float top-right when image exists */
.menu-price-img-custom {
  /* start from base */
  position: absolute;
  top: -8px;
  right: -8px;
  left: auto;
  transform: none;
  color: #33211D;
  background: #DA9F5B;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  font-size: 1rem;
  z-index: 2;
}
/* Estilo personalizado para el precio del menú */
:host ::ng-deep .menu-price-custom {
  position: absolute;
  margin: 0;
  top: -5px;
  right: 10px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  color: #33211D;
  background: #DA9F5B;
  font-size: 1rem;
  z-index: 2;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}


:host ::ng-deep h5,
:host ::ng-deep h6,
:host ::ng-deep .font-weight-normal {
  font-weight: 400 !important;
}
:host ::ng-deep h5,
:host ::ng-deep .h5 {
  font-size: 1.25rem;
}
/* Estilos personalizados y responsivos para imágenes y márgenes en Menu */
:host ::ng-deep .mb-3,
:host ::ng-deep .my-3 {
  margin-bottom: 1rem !important;
}
:host ::ng-deep .w-100 {
  width: 100% !important;
}
:host ::ng-deep .rounded-circle {
  border-radius: 50% !important;
}
:host ::ng-deep img {
  vertical-align: middle;
  border-style: none;
}
@media (min-width: 576px) {
  :host ::ng-deep .mb-sm-0,
  :host ::ng-deep .my-sm-0 {
    margin-bottom: 0 !important;
  }
}
:host ::ng-deep p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
:host ::ng-deep h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
/* Tipografía y títulos personalizados para Menu */
:host ::ng-deep h1,
:host ::ng-deep h2,
:host ::ng-deep .font-weight-bold {
  font-weight: 700 !important;
}
:host ::ng-deep h1,
:host ::ng-deep .h1 {
  font-size: 2.5rem;
}
:host ::ng-deep h1,
:host ::ng-deep h2,
:host ::ng-deep h3,
:host ::ng-deep h4,
:host ::ng-deep h5,
:host ::ng-deep h6,
:host ::ng-deep .h1,
:host ::ng-deep .h2,
:host ::ng-deep .h3,
:host ::ng-deep .h4,
:host ::ng-deep .h5,
:host ::ng-deep .h6 {
  margin-bottom: .5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  color: #33211D;
}
:host ::ng-deep h1,
:host ::ng-deep h2,
:host ::ng-deep h3,
:host ::ng-deep h4,
:host ::ng-deep h5,
:host ::ng-deep h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}
:host ::ng-deep *,
:host ::ng-deep *::before,
:host ::ng-deep *::after {
  box-sizing: border-box;
}
/* Fondo color crema para la sección Menu */
.menu-section {
  background-color: #FFFBF2;
}
/* Título principal y subtítulo */
.menu-img-wrapper { position: relative; }
.menu-price--floating {
  position: absolute;
  top: -8px;
  right: -8px;
  left: auto;
  transform: none;
  color: #33211D;
  background: #DA9F5B;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  font-size: 1rem;
  z-index: 2;
}

/* menu-price-img-custom: same as menu-price-custom but positioned top-right for images */
.menu-price-img-custom {
  position: absolute;
  top: -8px;
  right: -8px;
  left: auto;
  transform: none;
  color: #33211D;
  background: #DA9F5B;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  font-size: 1rem;
  z-index: 2;
}
.menu-price {
  color: #DA9F5B;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.w-100 {
  width: 100%;
}
.rounded-circle {
  border-radius: 50%;
}
.mb-3 {
  margin-bottom: 1rem;
}
.mb-5 {
  margin-bottom: 3rem;
}
.pt-5 {
  padding-top: 3rem !important;
}
.m-0 {
  margin: 0 !important;
}

.menu-title {
  color: #DA9F5B !important;
  text-transform: uppercase !important;
  letter-spacing: 5px;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}
