/* Justificar textos de los párrafos */
.text-justify {
  text-align: justify !important;
}
/* Adaptación responsiva para columnas principales */
.col-lg-4 {
  flex: 0 0 33.3333% !important;
  max-width: max-content !important;
  padding: 1rem !important;
}
.about-section {
  background-color: #FDF8F1;
}
/* Estilo personalizado para el texto 'Atendiendo desde 1990' */
.display-4 {
  font-weight: 700 !important;
  color: #2C1E1A !important;
}
/* Fondo color crema para la sección About */
.about-section {
  background-color: #FDF8F1;
}

/* Color personalizado para títulos */
.text-primary.text-uppercase {
  color: #C68B59 !important;
}
/* Estilos para el componente About */
.container-fluid {
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
  z-index: 2;
}
.section-title {
  position: relative;
  padding: 5px 0 35px 0;
  text-align: center;
}
.section-title h4 {
  font-weight: bold;
  color: #007bff;
  letter-spacing: 5px;
}
.section-title h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #2C1E1A;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-lg-4 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  padding: 1rem;
}
.position-relative {
  position: relative;
  height: 100%;
}
.position-absolute {
  position: absolute;
  top: 0;
  left: 0;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.text-primary {
  color: #007bff !important;
}
.text-uppercase {
  text-transform: uppercase;
}
.mb-3 {
  margin-bottom: 1rem;
}
.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.py-lg-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.py-lg-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.display-4 {
  font-size: 2.5rem;
  font-weight: 700;
}
.mr-3 {
  margin-right: 1rem;
}

.about-img-transparent {
  background-color: transparent !important;
}
