@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap');

.shared-bg {
  background-image: url('../../../public/assets/img/carousel-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.back-to-top {
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  transition: opacity 0.3s;
}
.back-to-top:hover {
  opacity: 0.8;
}

.text-primary {
  color: #C68B59 !important;
}

.m-0 {
  margin: 0 !important;
}

.font-weight-medium {
  font-weight: 500 !important;
}

:host ::ng-deep body {
  background-color: #FDF8F1;
}


