<div class="container-fluid p-0 nav-bar center-content"
  style="background-image: url('../../../../assets/img/carousel-2.jpg');">
  <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
    <a href="#" class="navbar-brand px-lg-4 m-0" (click)="$event.preventDefault()">
    <img *ngIf="isValidLogo(logoUrl)" [src]="logoUrl" alt="Logo" style="height: 60px; width: auto; object-fit: contain; margin-right: 12px; vertical-align: middle;" class="align-middle" />
    <h1 class="m-0 display-4 text-uppercase text-white d-inline-block align-middle" style="vertical-align: middle;">{{ bussinessName }}</h1>
    </a>
    <button type="button" class="navbar-toggler" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [class.collapse]="!isMenuOpen" class="navbar-collapse justify-content-between" id="navbarCollapse">
      <ul class="navbar-nav ml-auto p-4">
        <li class="nav-item"><a href="#navbar" class="nav-link" (click)="scrollToNavbar($event)">Home</a></li>
        <li class="nav-item"><a href="#about" class="nav-link" (click)="scrollToAbout($event)">Acerca de nosotros</a>
        </li>
        <li class="nav-item"><a href="#offer" class="nav-link" (click)="scrollToOffer($event)">Registrate</a></li>
        <li class="nav-item" *ngIf="hasPromotions">
          <a href="#promociones" class="nav-link" (click)="scrollToPromociones($event)">Promociones</a>
        </li>
        <li class="nav-item"><a href="#menu" class="nav-link" (click)="scrollToMenu($event)">Menu</a></li>
        <li class="nav-item"><a href="#footer" class="nav-link" (click)="scrollToFooter($event)">Contacto</a></li>
      </ul>
    </div>
  </nav>
  <!-- Banner Start -->
  <div style="min-height: 700px; height: 700px;">
    <div class="overlay-bottom ">
      <h2 class="text-primary font-weight-medium m-0" style="color: #DA9F5B !important;">Estamos para servirte</h2>
      <h1 class="display-1 text-white m-0">{{ bussinessName }}</h1>
  <h2 class="text-white m-0">{{ since }}</h2>
    </div>
  </div>
</div>
<!-- Navbar End -->
